<!-- <p>user-register-modal works!</p> -->
<div class="fixed inset-0 bg-gray-500 bg-opacity-50 flex justify-center items-center" *ngIf="showRegisterModal">
  <div class="bg-white p-6 rounded-lg w-1/3 relative">

    <button (click)="closeModalFunction()" class="absolute top-2 right-2 text-gray-600 hover:text-gray-800 focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

    

    <h2 class="text-xl font-bold mb-4">Registrar Nuevo Usuario</h2>

    <form (ngSubmit)="onRegister()" #form="ngForm">
      <!-- Primer Nombre -->
      <div class="mb-4">
        <label for="firstName" class="block text-sm font-semibold">Primer Nombre</label>
        <input 
          id="firstName" 
          [(ngModel)]="firstName" 
          name="firstName" 
          class="w-full p-2 border rounded" 
          required 
          pattern="^[A-Z]{1,20}$" 
          #firstNameInput="ngModel" 
          [ngClass]="{'border-red-500': firstNameInput.invalid && firstNameInput.touched}"
        />
        <div *ngIf="firstNameInput.invalid && firstNameInput.touched" class="text-red-500 text-sm">
          El primer nombre es obligatorio y solo debe contener letras (máximo 20 caracteres).
        </div>
      </div>
      
      <!-- Segundo Nombre -->
      <div class="mb-4">
        <label for="middleName" class="block text-sm font-semibold">Segundo Nombre</label>
        <input 
          id="middleName" 
          [(ngModel)]="middleName" 
          name="middleName" 
          class="w-full p-2 border rounded" 
          pattern="^[A-Z ]{1,20}$" 
          #middleNameInput="ngModel" 
          [ngClass]="{'border-red-500': middleNameInput.invalid && middleNameInput.touched}"
        />
        <div *ngIf="middleNameInput.invalid && middleNameInput.touched" class="text-red-500 text-sm">
          El segundo nombre debe contener solo letras (máximo 20 caracteres).
        </div>
      </div>
      
      <!-- Apellido -->
      <div class="mb-4">
        <label for="lastName" class="block text-sm font-semibold">Primer Apellido</label>
        <input 
          id="lastName" 
          [(ngModel)]="lastName" 
          name="lastName" 
          class="w-full p-2 border rounded" 
          required 
          pattern="^[A-Z ]{1,20}$" 
          #lastNameInput="ngModel" 
          [ngClass]="{'border-red-500': lastNameInput.invalid && lastNameInput.touched}"
        />
        <div *ngIf="lastNameInput.invalid && lastNameInput.touched" class="text-red-500 text-sm">
          El primer apellido es obligatorio y debe contener solo letras (máximo 20 caracteres).
        </div>
      </div>

      <!-- Segundo Apellido -->
      <div class="mb-4">
        <label for="secondLastName" class="block text-sm font-semibold">Segundo Apellido</label>
        <input 
          id="secondLastName" 
          [(ngModel)]="secondLastName" 
          name="secondLastName" 
          class="w-full p-2 border rounded" 
          pattern="^[A-Z]{1,20}$" 
          #secondLastNameInput="ngModel" 
          [ngClass]="{'border-red-500': secondLastNameInput.invalid && secondLastNameInput.touched}"
        />
        <div *ngIf="secondLastNameInput.invalid && secondLastNameInput.touched" class="text-red-500 text-sm">
          El segundo apellido debe contener solo letras (máximo 20 caracteres).
        </div>
      </div>

      <!-- País -->
      <div class="mb-4">
        <label for="country" class="block text-sm font-semibold">País</label>
        <select 
          id="country" 
          [(ngModel)]="country" 
          name="country" 
          class="w-full p-2 border rounded" 
          required 
          #countryInput="ngModel" 
          [ngClass]="{'border-red-500': countryInput.invalid && countryInput.touched}"
        >
          <option value="">Seleccione</option>
          <option value="Colombia">Colombia</option>
          <option value="Estados Unidos">Estados Unidos</option>
        </select>
        <div *ngIf="countryInput.invalid && countryInput.touched" class="text-red-500 text-sm">
          El país es obligatorio.
        </div>
      </div>

      <!-- Tipo de Identificación -->
      <div class="mb-4">
        <label for="identificationType" class="block text-sm font-semibold">Tipo de Identificación</label>
        <select 
          id="identificationType" 
          [(ngModel)]="identificationType" 
          name="identificationType" 
          class="w-full p-2 border rounded" 
          required 
          #identificationTypeInput="ngModel" 
          [ngClass]="{'border-red-500': identificationTypeInput.invalid && identificationTypeInput.touched}"
        >
          <option value="Cédula de Ciudadanía">Cédula de Ciudadanía</option>
          <option value="Cédula de Extranjería">Cédula de Extranjería</option>
          <option value="Pasaporte">Pasaporte</option>
          <option value="Permiso Especial">Permiso Especial</option>
        </select>
        <div *ngIf="identificationTypeInput.invalid && identificationTypeInput.touched" class="text-red-500 text-sm">
          El tipo de identificación es obligatorio.
        </div>
      </div>

      <!-- Número de Identificación -->
      <div class="mb-4">
        <label for="identificationNumber" class="block text-sm font-semibold">Número de Identificación</label>
        <input 
          id="identificationNumber" 
          [(ngModel)]="identificationNumber" 
          name="identificationNumber" 
          class="w-full p-2 border rounded" 
          required 
          pattern="^[a-zA-Z0-9-]+$" 
          #identificationNumberInput="ngModel" 
          [ngClass]="{'border-red-500': identificationNumberInput.invalid && identificationNumberInput.touched}"
        />
        <div *ngIf="identificationNumberInput.invalid && identificationNumberInput.touched" class="text-red-500 text-sm">
          El número de identificación es obligatorio y debe contener solo números (entre 5 y 15 caracteres).
        </div>
      </div>

      <!-- Fecha de Contratación -->
      <div class="mb-4">
        <label for="hireDate" class="block text-sm font-semibold">Fecha de Contratación</label>
        <input 
          id="hireDate" 
          type="date" 
          [(ngModel)]="hireDate" 
          name="hireDate" 
          class="w-full p-2 border rounded" 
          [max]="maxDate" 
          [min]="minDate" 
          required 
          #hireDateInput="ngModel" 
          [ngClass]="{'border-red-500': hireDateInput.invalid && hireDateInput.touched}"
        />
        <div *ngIf="hireDateInput.invalid && hireDateInput.touched" class="text-red-500 text-sm">
          La fecha de contratación es obligatoria.
        </div>
      </div>

      <!-- Área -->
      <div class="mb-4">
        <label for="area" class="block text-sm font-semibold">Área</label>
        <select 
          id="area" 
          [(ngModel)]="area" 
          name="area" 
          class="w-full p-2 border rounded" 
          required 
          #areaInput="ngModel" 
          [ngClass]="{'border-red-500': areaInput.invalid && areaInput.touched}"
        >
          <option value="Administración">Administración</option>
          <option value="Financiera">Financiera</option>
          <option value="Compras">Compras</option>
          <option value="Infraestructura">Infraestructura</option>
          <option value="Operación">Operación</option>
          <option value="Talento Humano">Talento Humano</option>
          <option value="Servicios Varios">Servicios Varios</option>
        </select>
        <div *ngIf="areaInput.invalid && areaInput.touched" class="text-red-500 text-sm">
          El área es obligatoria.
        </div>
      </div>

       <!-- Botones de Cancelar y Enviar -->
       <div class="flex justify-end space-x-4">
        <button (click)="closeModalFunction()" type="button" class="bg-gray-300 px-4 py-2 rounded hover:bg-gray-400">
          Cancelar
        </button>
        <button type="submit" [disabled]="form.invalid" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
