<p>user-list works!</p>
<div>
  <app-user-filter (filtersChanged)="onFilterChanged($event)"></app-user-filter>
</div>
  <!-- Botón para abrir el modal de registro -->
  <button (click)="openRegisterModal()" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">
    Registrar Usuario
  </button>
<!-- <div class="container mx-auto">
    <h1 class="text-2xl font-bold mb-4">Lista de Usuarios</h1>
    <table class="min-w-full border-collapse block md:table">
      <thead class="block md:table-header-group">
        <tr class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto md:relative">
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">ID</th>
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Nombre</th>
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Correo</th>
        </tr>
      </thead>
      <tbody class="block md:table-row-group">
        <tr *ngFor="let user of users" class="bg-gray-300 border border-grey-500 md:border-none block md:table-row">
          <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ user.id }}</td>
          <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ user.first_name }} {{ user.last_name }}</td>
          <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
  <div class="container mx-auto mt-10">
    <h1 class="text-3xl font-bold mb-6">Lista de Usuarios</h1>
  
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <app-user-card
        *ngFor="let user of filteredUsers"
        [user]="user"
        (updateUser)="handleUpdate($event)"
        [loadUsers]="loadUsers.bind(this) " 
      >
      </app-user-card>
    </div>

  </div>
  <div>
   <!-- Mostrar el modal solo si showModal es verdadero -->
   <app-user-modal
   *ngIf="showModal"
   [user]="selectedUser"
   (closeModal)="closeModal()"
   (updateUser)="updateUser($event)"
 >
 </app-user-modal>
</div>
<div>
  <!-- Modal de registro -->
  <app-user-register-modal 
  [showModal]="showRegisterModal"
  [loadUsers]="loadUsers.bind(this) ">
  </app-user-register-modal>
  </div>